.imgTop {
    /*background-image: url('imgTop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: "1100px 650px";*/
}

.imgTop img {
    border-radius: 8%;
}

.imgPresente img {    
    border-radius: 8%;
}

.imgPassado img {
    border-radius: 8%;
}

.imgHistoria img {
    border-radius: 8%;
}

.thumbnail {
    border: none;
    background-color: #1C1C1C;
}